@charset "UTF-8";
	
	.subtitle{
		display: flex;
		justify-content: space-between; 
		/*background: skyblue;*/
	}
	
	.address {
		font-size: 25px;
		font-weight: bold;
		display: flex;	
		margin-bottom: 10px;
	}
	.myColor {
		color: #FC5200;
		font-weight: bold;
	}


	.search {
		display: flex;
		justify-content: space-between; 
		/*background: plum;*/
	}
			
