@charset "UTF-8";

.contents {
	width:1250px;
	margin: auto;
	background: grey;
	min-height: 100vh;
	position: relative;
	padding: 0;
}

.contents h1 {
	font-size: 34px;
	font-weight: bold;
	line-height: 41px;
}