@charset "UTF-8";

	html,body {		
		margin: 0;
		padding: 0;
	}
	
	
		
	
	/* 표시되는 맵 */
	#map {	
		height: 820px;
		position: relative;
	}
	
	.wComm {
		
	}

	/*산책시작 버튼*/
	button.button_1 {
		border: 0;
		outline: none;
		width: 200px;  /* 가로 크기 조정 */
		height: 80px;  /* 세로 크기 조정 */
		border-radius: 50px; /* 가로 반지름과 세로 반지름 설정 */
		font-size: 30px;
		/*margin: 10px;*/
		box-shadow: 3px 3px 3px rgb(109, 109, 109), -3px -3px 3px rgb(237, 237, 237);
		transition: 0.3s;
		transform: none; /* 기울기 제거 */
		color: white; /* 글씨 색상을 하얀색으로 설정 */		
	}
	
	/*시작전*/
	#startButton {
		position: absolute;
		bottom: -50px;
		left: 50%;
		transform: translateX(-50%);
		background-color: orange	
	}
	
	/*진행중*/
	#walkStart {
		display: none;
		position: absolute;
		width: 100%;  /* 가로 크기 조정 */
		height: 200px;  /* 세로 크기 조정 */
		bottom: -90px;
		left: 50%;
		transform:
		translateX(-50%);
		background-color: rgb(255, 255, 255);
	}
	
	.walkBox {		
		display: flex;
		justify-content: space-around; /* 요소들 사이의 간격을 고르게 분배 */
		margin-top: 10px;
		padding-right: 40px;
		padding-left: 40px;		
	}
	
	.walkBox div {
		width: 40%;  /* 가로 크기 조정 */
		height: 80px;  /* 세로 크기 조정 */
    	display: flex; /* div를 flex 컨테이너로 설정 */
	    font-size: 32px;
		justify-content: center;  /*수평 가운데 정렬 */
	    align-items: center;  /*수직 가운데 정렬 */
		flex-direction: column; /* 요소들을 수직 방향으로 배치 */
		font-weight: bold;
	}
	
	#walkStart div a {
	    text-decoration: none; /* 링크 텍스트 밑줄 제거 */		
	}
	
	.lBox{
		font-weight: lighter;
	}
	
	#wName {
		font-size: 16px;
	}
	
	.bBox {
		margin-top: 10px;
		display: flex;
		align-items: center;
		justify-content: space-around; /*  */
		padding-right: 40px;
		padding-left: 40px;
	}
	
	/*진행중 버튼*/
	#pauseButton,#cameraButton,#stopButton {
		width: 80px;  /* 가로 크기 조정 */
		height: 80px;  /* 세로 크기 조정 */
		border-radius: 50px; /* 가로 반지름과 세로 반지름 설정 */
		color: orange; /* 글씨 색상을 하얀색으로 설정 */		
		background-color: white;
		border:5px solid orange;
		font-size: 36px;		
	}
	
	/*진행중 버튼*/
	
	
	
	
	/*버튼 그림자*/
	button.button_1:hover {
		box-shadow: -3px -3px 3px rgb(172, 172, 172), 3px 3px 3px rgb(237, 237, 237);
		transition: 0.3s;
	}	
	
	/*상단 박스*/
	#headerBox {
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: space-around; /*  */
	}	
	
	/* 프로필 컨테이너 스타일링 */
	.profile-container {
	    overflow: hidden;
	    position: relative;
	    display: flex;
	}
	
	/* 프로필 이미지 스타일링 */
	.profile-circles {
	    width: 330px;  /*원하는 너비로 설정 */
	    overflow: hidden;
	    position: relative;
	    display: flex;
	    transition: transform 0.5s ease;
	    align-items: center;
	}
	
	.profile-circle {
	    width: 44px; /* 프로필 동그라미의 너비 설정 */
	    height: 44px; /* 프로필 동그라미의 높이 설정 */
	    border-radius: 50%; /* 원 모양으로 만들기 */
	    margin-left: 5px; /* 동그라미 사이의 간격 설정 */	    
	    margin: 5px,5px; /* 동그라미 상하 간격 설정 */
	    overflow: hidden; /* 이미지를 동그라미 안에 잘라내기 */
	    display: inline-block; /* 가로로 정렬하기 */
	    border:3px solid rgb(79, 79, 79);
	}
	
	#pSelect {
	    border:3px solid rgb(230, 81, 85);
	}
	
	/*강아지프로필*/
	.profile-circle img {
	    width: 100%; /* 이미지를 동그라미의 크기에 맞춤 */
	    height: 100%; /* 이미지를 동그라미의 크기에 맞춤 */
	    object-fit: cover; /* 이미지를 비율 유지하며 동그라미 안에 맞춤 */
	    vertical-align: middle; /* 수직 가운데 정렬 */
	}
	
	#clubsIcon {
        position: relative;
        font-size: 34px;
        cursor: pointer;
        background-color:transparent;
        border: transparent;
    }

    #drop-toggle {
        display: flex;
        align-items: center;
        cursor: pointer;	
	    color: orange;
    }

    .dropdown-menu {
        display: none;
        width: 40px;
        background-color: white;
        position: absolute;
        top: 100%;
        right: 0;
        border: 1px solid #ccc;
    }

    .clubsIcon.active .dropdown-menu {
        display: block;
    }

    #icon {
        /*margin-top: 5px;  사각형을 위로 올리는 마진 설정*/ 
        vertical-align: middle; /* 수직 가운데 정렬 */
    }
	
	/*.drop-toggle {
		margin: 10px;		
	    color: orange;
	}
	
	모임일정아이콘
	#icon {
	    margin-top: 5px;  사각형을 위로 올리는 마진 설정 
	    vertical-align: middle;  수직 가운데 정렬 
	}
	
	.clubsIcon {
        position: relative;
    }

    .dropdown-menu {
        display: none;
        width: 40px;
        background-color: white;
        position: absolute;
        top: 100%;
        right: 0;
    }

    .clubsIcon.active .dropdown-menu {
        display: block;
    }*/
	
	/**/
	
	