@charset "UTF-8";


	
	.content {		
		display: flex;
	    justify-content: space-between; /* 요소 사이 간격을 동일하게 배치 */
	    margin-bottom: 10px;
	}
	
	.galleryBox {
		width: 19%;
		height: 300px;
		/*background-color: rgb(192, 192, 192);*/
		padding: 5px;
		
	}	
		
			
	.images img {
		max-width: 230px;
	}	
	
	.galleryContent .icon {
		float: right;
		color: rgb(255, 57, 57);
	}
	
	
	/* 게시판 페이징 */
	#list {	
		margin-top: 30px;
		width: 100%;
		height: 70px;	
 		padding: 10px;
	}
	
	#paging {
		display: flex;
		justify-content: center; /* 수평 가운데 정렬 */
		align-items: center; /* 수직 가운데 정렬 */
	}